h1{
	text-align: center;
}
header{
	background-color: #000;
	color: #fff;
}
.nav{
	background-color: #d3d3d3;
	color: #fff;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
}
footer{
	background-color: #000;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}